/* top-banner section */
.top-banner {
    color: white;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.banner-text {
    width: 50%;
    padding: 0px 20px;

}

.banner-image {
    width: 50%;
    height: 500px;
    padding: 0px 20px;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-text button {
    background-color: #DD0000;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    width: 160px;
    height: 56px;
}

.fa-angle-right {
    margin-left: 10px;
}

/*------------------ Blog section ----------------*/

/* -------------------nav bar-------------------- */
.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161616;
    width: 270px;
    height: 270px;
    border-radius: 10px;

}

.nav-bar button {
    background-color: white;
    border: 0px solid white;
    border-radius: 5px;
    width: 160px;
    height: 56px;
}

#blog-button {
    background-color: #DD0000;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    width: 160px;
    height: 56px;
}

/* --------------------blogs part-------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-detail {
    border: 1px solid lightgray;
    border-radius: 15px;
}

.blog-detail img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-info button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.blog-info span {
    color: #161616;
    opacity: 70%;
}

.fa-clock {
    margin-right: 5px;
    opacity: 70%;
}

.fa-comment-dots {
    margin-right: 5px;
    padding-left: 20px;
    opacity: 70%;
}