/* -------------common style-------------- */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1240px;
    margin: 0 auto;
}

main {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* -----------------top-banner/header--------------- */
.top-banner {
    color: white;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.banner-text {
    width: 50%;
    padding: 0px 20px;
}

.banner-image {
    width: 50%;
    height: 500px;
    padding: 0px 20px;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-text button {
    font-size: 20px;
    background-color: #DD0000;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    width: 200px;
    height: 56px;
}

.fa-angle-right {
    margin-left: 10px;
}

.top-banner:hover button {
    transform: scale(1.2);
    transform-origin: top left;
    transition: transform .1s linear;
}

/*------------------ Blog section ----------------*/
.blog-section {
    display: flex;
    margin-top: 50px;
}

/* -------------------nav bar-------------------- */
.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161616;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.nav-bar button {
    font-size: 20px;
    background-color: white;
    border: 0px solid white;
    border-radius: 5px;
    width: 200px;
    height: 56px;
}

.nav-bar a {
    text-decoration: none;
    color: #161616;
}

#blog-button {
    background-color: #DD0000;
    color: white;
}

/* --------------------blogs part-------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-detail {
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: white;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.1));
}

.blog-detail img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-info button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.blog-info span {
    color: #161616;
    opacity: 70%;
}

.fa-clock {
    margin-right: 5px;
    opacity: 70%;
}

.fa-comment-dots {
    margin-right: 5px;
    padding-left: 20px;
    opacity: 70%;
}

.view-all button {
    font-size: 20px;
    background-color: #DD0000;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    width: 200px;
    height: 56px;
}

/* --------------Footer----------- */
footer {
    background-color: #161616;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 70px;
}

hr {
    width: 100%;
    color: lightgray;
    opacity: 5%;
    border: .5px solid white;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin-left: 50px;
}

.footer-nav li {
    list-style: none;
}