/* -------------common style-------------- */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1240px;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* -----------------top-banner/header section--------------- */
.top-banner {
    color: white;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.banner-text {
    width: 50%;
    padding: 0px 20px;
}

.banner-image {
    width: 50%;
    height: 500px;
    padding: 0px 20px;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-text button {
    font-size: 20px;
    background-color: #DD0000;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    width: 200px;
    height: 56px;
}

.fa-angle-right {
    margin-left: 10px;
}

.top-banner:hover button {
    transform: scale(1.2);
    transform-origin: top left;
    transition: transform .1s linear;
}

/* ----------all-match-blogs------ */
.all-match-blogs {
    display: flex;
    margin-top: 50px;
}

/* ----------nav-section---------- */
.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161616;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.nav-bar button {
    font-size: 20px;
    background-color: white;
    border: 0px solid white;
    border-radius: 5px;
    width: 200px;
    height: 56px;
}

#upcoming-match {
    background-color: #DD0000;
    color: white;
}

button a {
    text-decoration: none;
    color: #161616;
}

/* ------------all match schedule------- */
.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
}

.opponent {
    display: flex;
    align-items: center;
}

.opponent img {
    width: 100%;
    padding: 10px;
}

.match-info h3 {
    margin-bottom: 5px;
}

.match-info span {
    opacity: 70%;
}

/* --------------Footer----------- */
footer {
    background-color: #161616;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 70px;
}

hr {
    color: lightgray;
    opacity: 5%;
    border: .5px solid white;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    margin-left: 50px;
}

.footer-nav ul li {
    list-style: none;
}